* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: block;
  background-image: url('https://images.unsplash.com/photo-1528360983277-13d401cdc186?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0NTM2Njk1MA&ixlib=rb-1.2.1&q=85');
  color: #f4f4f4;
  Background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

.app-background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.task-container {
  display: flex;
  max-width: 70vh;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: #000714;
  color: white;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  margin: 0 auto 20px;
  min-height: 205px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.heading-text {
  font-family: "Josefin Sans", sans-serif;
  color: #00ffff;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  margin: 80px 50px;
  background-color: #000714;
  padding: 15px 85px;
  border-radius: 8px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.heading-text:hover {
  color: #fd1769;
}


.footer-text {
  color: #00ffff;
  background-color: #000714;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  margin: 10px;
  padding: 15px 25px;
}

.footer-text:hover {
  color: #fd1769;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.task-complete {
  text-decoration: line-through;
  color: white;
}

.add-button {
  background-color: #00ffff;
  outline: none;
  border: none;
  color: #000714;
  font-size: 17px;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  margin: 0 15px 15px 15px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #fd1769;
}

.text-input {
  border: 2px solid #00ffff;
  color: #767676;
  outline: none;
  border-radius: 8px;
  width: 310px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 15px 15px 15px;
  font-weight: bold;
}

.list-item {
  background-color: #00ffff;
  border: none;
  border-radius: 8px;
  width: 450px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px 0;
  color: #000714;
  font-weight: 500;
  text-align: start;
  align-items: center;
  cursor: pointer;
}

.delete-icon {
  height: 26px;
  cursor: pointer;
}

.no-item-text {
  color: #00ffff;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  margin: 50px;
}

@media only screen and (max-width: 600px) {
  .heading-text {
    font-family: "Josefin Sans", sans-serif;
    color: #00ffff;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
    padding: 15px 55px;
    border-radius: 8px;
  }

  .text-input {
    border: #1CDBF5 2px solid;
    outline: none;
    border-radius: 8px;
    width: 200px;
    font-size: 16px;
    padding: 8px 12px;
    margin: auto 8px;
    font-weight: bold;
  }

  .list-item {
    background-color: #1CDBF5;
    border: none;
    border-radius: 8px;
    width: 290px;
    font-size: 18px;
    padding: 10px 15px;
    margin: 15px 0;
    color: #131A28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }

  .delete-icon {
    height: 18px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 410px) {
  .heading-text {
    color: #1CDBF5;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
    background-color: #131A28;
    padding: 15px 25px;
    border-radius: 8px;
  }

  .text-input {
    border: #1CDBF5 2px solid;
    outline: none;
    border-radius: 8px;
    width: 200px;
    font-size: 16px;
    padding: 8px 12px;
    margin: auto 6px;
    font-weight: bold;
  }

  .list-item {
    background-color: #1CDBF5;
    border: none;
    border-radius: 8px;
    width: 270px;
    font-size: 18px;
    padding: 10px 15px;
    margin: 15px 0;
    color: #131A28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) {
  .heading-text {
    color: #1CDBF5;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
    background-color: #131A28;
    padding: 15px 20px;
    border-radius: 8px;
  }

  .text-input {
    border: #1CDBF5 2px solid;
    outline: none;
    border-radius: 8px;
    width: 150px;
    font-size: 14px;
    padding: 8px 12px;
    margin: auto 6px;
    font-weight: bold;
  }

  .list-item {
    background-color: #1CDBF5;
    border: none;
    border-radius: 8px;
    width: 220px;
    font-size: 18px;
    padding: 10px 15px;
    margin: 15px 0;
    color: #131A28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }

  .add-button {
    background-color: #000;
    outline: none;
    border: none;
    color: #00FF00;
    font-size: 17px;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
  }
}